<%- include("../partials/thread_nav") %>

<div class="form">
    <h1>レスを投稿する</h1>
    <form action="<%= `/messages/new/${thread._id}` %>" method="post">
        <%- include("../partials/message_input") %>
    </form>
</div>